.vs
QuestionDownloader/bin/Debug/net5.0/QuestionDownloader.deps.json
QuestionDownloader/bin/Debug/net5.0/QuestionDownloader.dll
QuestionDownloader/bin/Debug/net5.0/QuestionDownloader.exe
QuestionDownloader/bin/Debug/net5.0/QuestionDownloader.pdb
QuestionDownloader/bin/Debug/net5.0/QuestionDownloader.runtimeconfig.dev.json
QuestionDownloader/bin/Debug/net5.0/QuestionDownloader.runtimeconfig.json
QuestionDownloader/bin/Debug/net5.0/ref/QuestionDownloader.dll
QuestionDownloader/obj/project.assets.json
QuestionDownloader/obj/project.nuget.cache
QuestionDownloader/obj/QuestionDownloader.csproj.nuget.dgspec.json
QuestionDownloader/obj/QuestionDownloader.csproj.nuget.g.props
QuestionDownloader/obj/QuestionDownloader.csproj.nuget.g.targets
QuestionDownloader/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
QuestionDownloader/obj/Debug/net5.0/apphost.exe
QuestionDownloader/obj/Debug/net5.0/QuestionDownloader.AssemblyInfo.cs
QuestionDownloader/obj/Debug/net5.0/QuestionDownloader.AssemblyInfoInputs.cache
QuestionDownloader/obj/Debug/net5.0/QuestionDownloader.assets.cache
QuestionDownloader/obj/Debug/net5.0/QuestionDownloader.csproj.AssemblyReference.cache
QuestionDownloader/obj/Debug/net5.0/QuestionDownloader.csproj.CoreCompileInputs.cache
QuestionDownloader/obj/Debug/net5.0/QuestionDownloader.csproj.FileListAbsolute.txt
QuestionDownloader/obj/Debug/net5.0/QuestionDownloader.dll
QuestionDownloader/obj/Debug/net5.0/QuestionDownloader.GeneratedMSBuildEditorConfig.editorconfig
QuestionDownloader/obj/Debug/net5.0/QuestionDownloader.genruntimeconfig.cache
QuestionDownloader/obj/Debug/net5.0/QuestionDownloader.pdb
QuestionDownloader/obj/Debug/net5.0/ref/QuestionDownloader.dll
